@model CommentViewModel

@{

}

<div>
    <form method="post" asp-controller="Home" asp-action="Comment">
        <input asp-for="PostId" hidden />
        <input asp-for="MainCommentId" hidden />
        <input asp-for="Message" />
        <button type="submit">Submit</button>
    </form>
</div>